.container{
  max-width:400px;
  min-height:500px ;
  margin:0 auto;
  box-shadow:0 0 10px gray;
  border-style: double;
  margin-top:50px ;
  padding:15px 50px ;
}
.text-center{
  text-align:center ;
}
.expense-container{
  justify-content:space-around ;
  display: flex;
  background-color: white;
  box-shadow:0 0 10px gray;
  background-color:red;
}
.transaction-list{
  margin: 0;
  padding:0;
  scroll-behavior: smooth;

}

.transaction-list > li {
  display: flex;
  justify-content: space-between;
  margin:5px 0 ;
  box-shadow: 0 0 10px grey;
  padding: 10px 5px;
  background-color: white;
  scroll-behavior: inherit;
}

.transaction-box input {
  
  width:100% ;
  margin:10px 0;
  padding: 5px;
  text-align: center;
  
}
ul{
  list-style:none;
  max-height:100px;
  margin:0;
  overflow:auto;
  padding:0;
  text-indent:10px;
}
li{
  display: flex;
  line-height:20px;
  
}
li:nth-child(even){
  background:#ccc;
}
